.btn {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  height: 50px;
  width: 150px;
  cursor: pointer;

  &__primary {
    background-color:rgb(64, 64, 115);
    border: none;
    color:  white;

    &:hover {
      background-color: rgb(85, 100, 245);      
    }
  }

  &__secondary {
    background-color: white;
    border: 1px solid rgb(113, 221, 180);
    color: rgb(64, 64, 115);

    &:hover {
      background-color: rgb(113, 221, 180);
      ;
    }
  }
}
