<section class="emotions-map">
    <div class="emotions-map__item">
      <h3 class="emotions-map__hexagon">Emotions</h3>
    </div>
  
    <div *ngFor="let item of result | slice:0:6; let i = index" 
         class="emotions-map__item">
  
      <h4 class="emotions-map__hexagon" [ngStyle]="{'background': getBgColour(item)}">
        {{item.category}}
      </h4>
  
      <div class="emotions-map__sub-categories" [ngClass]="'emotions-map__sub-categories--'+ (i + 1)">
        <div *ngFor="let cat of item.subCategories | slice:0:4; let j = index">
          <div class="emotions-map__hexagon emotions-map__hexagon--small"
               [ngStyle]="{'background': getBgColour(item, cat.score)}">
               <span *ngFor="let emotion of cat.emotions">{{emotion}}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  
