<div class="container">
  <div class="container__title">
    Select the answers based on how well each statement describes you.
  </div>
  <section class="container__items">
    <app-circle-item imgSrc="https://i.ibb.co/LhjLCmP/01.jpg" content="Strongly disagree"></app-circle-item>
    <app-circle-item imgSrc="https://i.ibb.co/1XbTXP5/02.jpg" content="Disagree"></app-circle-item>
    <app-circle-item imgSrc="https://i.ibb.co/5GZN3Vn/03.jpg" content="Neutral"></app-circle-item>
    <app-circle-item imgSrc="https://i.ibb.co/JtCN33B/04.jpg" content="Agree"></app-circle-item>
    <app-circle-item imgSrc="https://i.ibb.co/LPqksM5/05.jpg" content="Strongly agree"></app-circle-item>
  </section>
  <section class="container__test">
    <form [formGroup]="testForm" (ngSubmit)="onSubmit()" class="container__form">
      <ng-container formArrayName="questions">
        <div *ngFor="let question of questions; let i = index">
          <label class="container__text">
            {{question.text}}
          </label>
          <div class="container__group">
            <ng-container [formGroupName]="i">
              <div *ngFor="let rate of radioOptions(question); let j = index" class="container__inputs">
                <input class="container__input" type="radio" [value]="j + 1"
                  formControlName="value" required>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>      
      <div  *ngIf="isSubmited && testForm?.invalid" class="container__error">
        Please answer all the questions above!
      </div>
      <div class="container__button" *ngIf="isVisible">
        <app-button title="Result" type="submit" classes="btn btn__secondary"></app-button>
      </div>
    </form>
  </section>
</div>
<div>
  <app-spinner *ngIf="this.spinnerService.isVisible$ | async"></app-spinner>
</div>
