.container-title {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  margin: 10px;
  color: rgb(64, 64, 115);
}

app-recommendation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
